<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Activation Account</title>
  </head>
  <body>
    <h1>Activation Account</h1>
    <p>Hi {{username}},</p>
    <p>Please, update your password</p>
    <a href='{{url}}'>Link</a>
  </body>
</html>